/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Пользовательские цвета */
.green {
	background-color: rgba(0, 104, 2, 1);
}
.silver {
	background-color: #bdc3c7;
}
.emerald {
	background-color: #2ecc71;
}
.wet-asphalt {
	background-color: #34495e;
}
.wet-asphalt a:not(.btn) {
	color: #bdc3c7;
}
.wet-asphalt a:not(.btn):hover {
	color: #d9534f;
}

/* Параметры текста */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'RobotoMedium', sans-serif;
	font-weight: 400;
}
p,
br {
	text-indent: 1em;
}
a {
    color: #34495e;
}
a,
i {
	font-family: 'RobotoLight', sans-serif;
	font-weight: 300;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
table,
td,
th {
	font-family: 'RobotoMedium', sans-serif;
	font-weight: 400;
	font-size: 22px;
	vertical-align: central;
	padding: 3px;
}
code {
	display: inline-block;
	width: auto;
	padding: 5px;
	margin-left: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #34495e;
}
/* Разделитель */
.mydivider {
	height: 60px;
	width:100%;
	display:block;
	margin: 0 0 20px 0;
	overflow: hidden;
	background-color: rgba(52, 73, 94, 0.75);
}

/* Стили кнопок */
.btn,
.btn:focus {
	font-family: 'RobotoMedium', sans-serif;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #bdc3c7;
	border-radius: 4px;
	margin-top: 5px;
	background-color: #34495e;
}
.upbtn ,
.upbtn:focus {
	position: fixed;
	bottom: 0;
	right: 30px;
	border-radius: 4px;
	margin-top: 5px;
	color: #bdc3c7;
	background-color: rgba(0, 0, 0, 0.5);
}
.btn:hover,
.upbtn:hover {
	color: #34495e;
	background-color: rgba(191, 191, 191, 0.3);
}

body {
	/* Отступ для меню */
	padding-top: 60px;
	color: #34495e;
	background: #bdc3c7;
	font-family: 'RobotoLight', sans-serif;
	font-weight: 300;
}

/* цвет фона и рамки навигационного меню */
.navbar-default {
	border: 0;
	height: 60px;
	background-color: #34495e;
	border-color: #bdc3c7;
	color: #bdc3c7;
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
	margin-top: -10px;
	margin-left: 0;
	font-family: 'RobotoMedium', sans-serif;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
}
/* навигационное меню положение */
.navbar-default .navbar-nav {
	margin-top: 15px;
}
/* Кнопка с логотипом Java */
.navbar-default .navbar-nav >li > a > img {
	position: relative;
	margin-top: -15px;
	top:2px;
	width:auto;
	height:35px;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 4px;
	color: #bdc3c7;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #bdc3c7;
	background-color: rgba(0, 0, 0, 0.3);
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #bdc3c7;
	background-color: #2c3e50;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #bdc3c7;
	background-color: rgba(0, 0, 0, 0.3);
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #bdc3c7;
	border-bottom-color: #bdc3c7;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #bdc3c7;
	border-bottom-color: #bdc3c7;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #d1ffed;
	border-bottom-color: #d1ffed;
}

.navbar-default .navbar-nav .dropdown-menu {
	background-color: #2c3e50;
	border: 0;
	padding: 0;
	margin-top: 10px;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
	padding: 8px 15px;
	color: #bdc3c7;
}
.navbar-default .navbar-nav .dropdown-menu > li:hover > a,
.navbar-default .navbar-nav .dropdown-menu > li:focus > a,
.navbar-default .navbar-nav .dropdown-menu > li.active > a {
	background-color: rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-nav .dropdown-menu > li.divider {
	background-color: rgba(0, 0, 0, 0.5);
}

/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
	border-color: #bdc3c7;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: rgba(0, 0, 0, 0.5);
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
/* Цвет пунктов меню в раскрывающихся списках */
@media (max-width: 767px) {
	.navbar-default .navbar-nav,
	.navbar-default .navbar-nav .dropdown-menu {
		margin-top: 0;
		background-color: #2c3e50;
	}/* Кнопка с логотипом Java */

	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        position: relative;
		display: flex;
		align-items: center;
		height: 50px;
        font-family: 'RobotoMedium';
		font-size: large;
		border-top: solid 1px;
        border-bottom: solid 1px;
		color: #bdc3c7;
	}
	/* Кнопка с логотипом Java */
	.navbar-default .navbar-nav >li > a > img {
		top:5px;
	}
	/* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #bdc3c7;
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.carousel {
	position: relative;
	overflow: hidden;
	border: 5px;
}
.carousel-inner .item {
	top: 0;
	bottom: auto;
	-webkit-transition: 0.5s ease-in-out left;
	   -moz-transition: 0.5s ease-in-out left;
	     -o-transition: 0.5s ease-in-out left;
	        transition: 0.5s ease-in-out left;
}

.carousel-inner .carousel-caption {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: auto;
	width: 100%;
	display: block;
	border: none !important;
    padding: 0;
	color: rgba(200, 200, 200, 1);
	background-color: rgba(44, 62, 80, 0.5);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	opacity: 0;
	-webkit-transition: 0.25s ease-in-out opacity;
	   -moz-transition: 0.25s ease-in-out opacity;
	     -o-transition: 0.25s ease-in-out opacity;
	        transition: 0.25s ease-in-out opacity;
}
.carousel-inner > .item.active .carousel-caption {
    opacity: 1;
    margin-top:0;
}

.carousel .carousel-control {
	outline:none;
	background-image: none;
	position: absolute;
	top: 50%;
	display: inline-block;
}
.carousel-control.left:hover,
.carousel-control.right:hover {
	color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
}
.carousel-control.left,
.carousel-control.right,
.carousel-control.left:active,
.carousel-control.right:active {
	color: rgba(200, 200, 200, 1);
	border-radius: 10px;
}
.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	background-color: #34495e;
	color: #bdc3c7;
}

.myvideo {
	position: relative;
	display: block;
	background-color: rgba(44, 62, 80, 0.5);
	width: 90%;
	height: auto;
	margin: 10px auto;
}

.nav-tabs > li > a {
	background-color: #bdc3c7;
	color: #34495e;
}
.tab-content > .tab-pane > iframe {
    background-color: rgba(225, 225, 225, 0.75);
    color: #34495e;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	color: #bdc3c7;
	background-color: rgba(0, 0, 0, 0.3);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #bdc3c7;
	background-color: rgba(44, 62, 80, 0.5);
}
.nav-tabs.affix {
	padding-top: 30px; /* Set the top position of pinned element */
}