.sandbox_edit h1{font:2.17em/100% Verdana,sans-serif;letter-spacing:-1px;color:#000;margin-top:10px;margin-bottom:22px}.sandbox_edit p{margin-bottom:20px}.sandbox_edit form .item textarea{height:400px}.sandbox_done{margin-top:6px}.sandbox_done p{margin-bottom:20px}
